<form action="/home">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Voucher Type</label>
                        <select class="form-control" id="voucher">
                            <option value="1">Ticket</option>
                            <option value="2">Invoice</option>
                        </select>
                    </div>

                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label>Clients</label>
                        <select class="form-control" id="client">
                            <option *ngFor="let cliente of clientes" value="{{ cliente.id }}">{{ cliente.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Products</label>
                        <select class="form-control" id="products">
                            <option *ngFor="let producto of productos" value="{{ producto.id }}_{{ producto.name }}_{{ producto.unit_price }}_{{ producto.stock }}">{{ producto.name }}</option>
                        </select>
                    </div>

                </div>
                <div class="col-6">
                    <label>Quantiy</label><br>
                    <div class="form-group row">

                        <div class="col-6">
                            <input class="form-control" type="text" placeholder="number" id="quantity">
                            <p id="error" class="text-danger font-weight-bold d-none">required</p>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-success btn-block" id="add" (click)="click()"><i
                                    class="fa fa-plus mr-2"></i>
                                <span>add</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="ml-3 col-12 d-none alert alert-danger" role="alert" id="error-exists">
            <strong>This product is already added</strong>
        </div>
        <div class="ml-3 col-12 d-none alert alert-danger" role="alert" id="error-stock">
            <strong>Insufficient stock</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="detalle" class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>SubTotal</th>
                </tr>
            </table>

        </div>
        <div class="col-md-12 mt-2">
            <div class="row d-flex justify-content-between">
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-2">
                    <h5 class=" d-inline font-weight-bold">Total: </h5>
                    <h5 class=" ml-2 d-inline" id="total"></h5>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>

    <input id="save" class="btn btn-success" type="submit"  value="save">

</form>